.footer{
  text-align: center;
  height: 60px;
  background-color: #000000d9;
  color: #fff;
  padding-top: 20px;
}
.container-fluid {
  max-width: 1200px;
}
.navbar-inverse {
   border-radius: 0px;
   background-color: #0000 !important;
   border-color: #0000 !important;
   color: #fff;
}
.navbar-inverse .navbar-nav>li>a {
  color: #fff !important;
  padding-top: 30px;
}
.login {
  width: 124px;
  height: 35px;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: #0000;
  margin-top: 25px;
}
/**home**/
#section1 {
  height: 100vh;
  width: 100%;
  margin-top: -105px;
  padding-top: 95px;
  background-image: url("/assets/img/home/Head-BG.png");
}
#section2 {
  height: 100vh;
  width: 100%;
}
#section3 {
  width: 100%;
  height: 600px;
  margin-bottom: 100px;
  background-image: url("/assets/img/home/2.png");
  background-repeat: none;
}
#section4 {
  height: 100vh;
  width: 100%;
  background-color: #202020;
}
#section5 {
  width: 100%;
  background-color: #fff;
}
#section6 {
  height: 100vh;
  width: 100%;
  background-color: #202020;
}

.pos-home-detail{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 200px;
}
.welcome {
  font-size: 100px;
  color: #fff;
}
.welcome-desc {
  font-size: 20px;
  color: #fff;
}
.welcome-btn {
  width: 193px;
  height: 42px;
  border-radius: 20px;
  border: 0px;
  color: #fff;
  background-color: #ff5656;
}
.pos-activity {
  margin-top: 70px;
  border: 2px solid #262626;
}
.pos-activity-detail {
  padding: 100px 150px;
}
.time{
  color: #fff;
}
.time-desc{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 800px;
  color: #fff;
}
.new-acis {
  text-align: center;
  padding: 50px;
}

.pos-conditions-detail {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  width: 600px;
  color: #fff;
}
.conditions-btn{
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 193px;
  height: 42px;
  border-radius: 20px;
  border: 0px;
  color: #fff;
  background-color: #ff5656;
}

/**contact**/
#section1-contact {
  height: 280px;
  width: 100%;
  margin-top: -105px;
  padding-top: 95px;
  background-image: url("/assets/img/home/Head-BG.png");
  background-size: cover;
}
.contact-header{
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #fff;
}
#section2-contact{
  margin-bottom: 30px;
}
.our-team{
  text-align: center;
}

#section3-contact {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #202020;
  color: #fff;
}
.detail-section3 {
  padding-right: 80px !important;
  padding-left: 80px !important;
}

/*schedule*/
#section1-schedule {
  height: 280px;
  width: 100%;
  margin-top: -105px;
  padding-top: 95px;
  background-image: url("/assets/img/home/Head-BG.png");
  background-size: cover;
}
.schedule-header{
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #fff;
}
#section2-schedule{
  margin-bottom: 30px;
}
#schedule{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 900px;
  height: 800px;
  border-radius: 20px;
  background-color: hotpink;
}

/*modal login*/
.modal-content {
  border-radius: 0px !important;
  display: block;
  margin: 0px auto;
  text-align: center;
  width: 300px;
  padding-bottom: 60px;
}
.input-up {
    margin-top: 10px;
    border: 1px solid #202020;
    border-radius: 20px;
    height: 25px;
}
.forget-pass {
  margin: 10px 0px !important;
}
.input-up::placeholder {
  text-align: center;
}

.modal-login {
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 180px;
  height: 25px;
  border-radius: 20px;
  border: 0px;
  color: #fff;
  background-color: #ff5656;
}

/*calculate*/
#section1-calculate {
  height: 280px;
  width: 100%;
  margin-top: -105px;
  padding-top: 95px;
  background-image: url("/assets/img/home/Head-BG.png");
  background-size: cover;
}
.calculate-header{
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #fff;
}
#section2-calculate{
  margin-bottom: 30px;
}
.main-manu{
  text-align: center;
}
td {
  margin: 0px 20px !important;
  padding: 0px 20px !important;
}


/* Checkmark style starts */
/*@-moz-keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 50px;
  }
}
@-webkit-keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 50px;
  }
}
@keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 50px;
  }
}
@keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}
@-webkit-keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}
@-moz-keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}
input[type="checkbox"] {
  display: none;
}

.check-box {
  height: 100px;
  width: 100px;
  background-color: transparent;
  border: 10px solid #000;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color ease 0.2s;
  -o-transition: border-color ease 0.2s;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s;
  cursor: pointer;
}
.check-box::before, .check-box::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 0;
  width: 20px;
  background-color: #34b93d;
  display: inline-block;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-radius: 5px;
  content: " ";
  -webkit-transition: opacity ease 0.5;
  -moz-transition: opacity ease 0.5;
  transition: opacity ease 0.5;
}
.check-box::before {
  top: 72px;
  left: 41px;
  box-shadow: 0 0 0 5px #fff;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.check-box::after {
  top: 37px;
  left: 5px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type="checkbox"]:checked + .check-box,
.check-box.checked {
  border-color: #34b93d;
}
input[type="checkbox"]:checked + .check-box::after,
.check-box.checked::after {
  height: 50px;
  -moz-animation: dothabottomcheck 0.2s ease 0s forwards;
  -o-animation: dothabottomcheck 0.2s ease 0s forwards;
  -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
  animation: dothabottomcheck 0.2s ease 0s forwards;
}
input[type="checkbox"]:checked + .check-box::before,
.check-box.checked::before {
  height: 120px;
  -moz-animation: dothatopcheck 0.4s ease 0s forwards;
  -o-animation: dothatopcheck 0.4s ease 0s forwards;
  -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
  animation: dothatopcheck 0.4s ease 0s forwards;
}
*/